body {
  font-family: 'Nunito', sans-serif;
}

.title {
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

p {
  font-size: 18px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.user-scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1200px;
  padding: 2em 0 2em 0;
  background-color: #cff3ff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.name-container {
  margin-left: 3em;
  width: 30%;
}

.stars-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.star {
  margin: 2px;
}

.button-container {
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.button {
  border-radius: 20px;
  color: #fff;
  background-color: #3064ab;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 120px;
  height: 60px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.undo-button {
  border-radius: 20px;
  background-color: #3064ab;
  width: 120px;
  height: 60px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.undoIcon {}

.copyright {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 420px) {
  .score-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .name-container {
    margin-left: 0;
    width: 100%;
  }
  .stars-container {
    margin-left: 0;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
  }
  .button-container {
    margin-right: 0;
  }
}
